@font-face{
    font-family:'h1';
    src:url(../assets/fonts/h1/AirAmerica-Regular.otf)
}

@font-face{
    font-family:'menu';
    src:url(../assets/fonts/menu/20db.otf);
}

@font-face {
    font-family:'textos' ;
    src: url(../assets/fonts/textos/AurulentSans-Regular.otf);
}

@font-face {
    font-family:'titulos' ;
    src: url(../assets/fonts/titulos/ChunkFive-Regular.otf);
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0f4571;
    background-size:cover;
}